@keyframes apple-ani {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-35px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0.6;
    }

    to {
        opacity: 0;
    }
}

@keyframes wow-fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}